:root{
    --vermelho: #d3550c;
    --yellow: #eeb806;
    --darkyellow: #2a3103;
}

@font-face {
    font-family: FontTitle;
    src: url(../fonts/ANODETONOONE.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */
body{
    background: var(--darkyellow);
    font-family:'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: FontTitle;
    font-size: 40px;
}


header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    box-shadow: 0 2px 2px rgba(0,255,0,0.2);
    transition: transform 0.8s ease-in-out;
}

header nav a:hover{
    color: #37e737;
    transform: scale(1.5); 
    box-shadow: 0 5px 15px rgba(0,255,0,0.3);
}

/* div-descricao */
.div-descricao{
    font-size: 16px;
    background: linear-gradient(rgba(238,184,6,.100),rgba(238,184,6,.90)100%);
    background-size: cover;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.div-descricao .descricao{
    margin-top: 0px;
    margin-bottom: 40px;
}

.container{
    margin-left: 20px;
}

.div-descricao .container{
    width: 70%;
}

.box-jogo{
    height: 300px;
    width: 300px;
    display: block;
    cursor: pointer;
}

.carrosel-jogos h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: FontTitle;
    font-size: 30px;
    text-align: center;
}

.carrosel-jogos{
    margin-top: 5px;
}

.efeitoHover{
    color: red;
}
